<!DOCTYPE html>
<html lang="ru">
<head>
<title>VIVA Color</title>
<link rel="stylesheet" type="text/css" href="/include/style/style.css">
<link rel="stylesheet" type="text/css" href="/include/style/counter.css">
<link rel="stylesheet" type="text/css" href="/include/style/counter.css">
<link rel="stylesheet" type="text/css" href="/include/style/jquery.countdown.css">
<script type="text/javascript" src="/include/js/jquery.min.js"></script>
<script type="text/javascript" src="/include/js/counter.js"></script>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="/include/js/jquery.countdown.js"></script>
<script src="/include/js/script.js"></script>
<!-- <script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script> -->
</head>
<body>
